<!--Andrew Welton-->
<div class="row panel top-push">
    <p>View Stage Page</p>
    <p>{{stage.name}}</p>
    <p>{{stage.subject}}</p>
    <p>{{stage.description}}</p>
    <p>{{stage.location}}</p>
    <p>{{stage.state}}</p>
    <button class="btn btn-primary" ui-sref="editStage({'stage':{{stage}}})">Edit This Stage</button>
</div>