<!--Andrew Welton-->
<div class="row panel top-push">
    <div class="col-xs-12">
        <form id="createCompForm" ng-submit="submit()">
            <h1>Create a new Event</h1>
            <p>* Indicates a required field.</p>
            <div class="form-group">
                <label for="eventName">Event Name *</label>
                <input id="eventName" class="form-control" type="text" placeholder="Event Name" ng-model="event.name"/>
            </div>
            <div class="form-group">
                <label for="compLocation">Event Location</label>
                <input id="compLocation" class="form-control" type="text" placeholder="Where is it?" ng-model="event.location"/>
            </div>
            <div class="form-group">
                <label for="eventState">Event State</label>
                <select id="eventState" class="form-control" ng-model="event.state" ng-init="event.state='Upcoming'">
                    <option>Upcoming</option>
                    <option>In Progress</option>
                    <option>Finished</option>
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Create Event</button>
            </div>
        </form>
    </div>
</div>