<!--
/**
 * @author Jason McTaggart
 * Used for displaying a competition's structure
 */
-->
<div ng-class="{detail: detail===true}" ng-show="show">
    <canvas id="{{id}}"></canvas>
    <div class="stage-container">
        <div ng-repeat="stage in comp.stages" class="stage" ng-style="stageStyle">
            <div ng-repeat="event in stage.events" class="event-container" id="{{event.eventId}}" ng-style="eventStyle[stage.stageId]">

                <div class="event"><p ng-show="detail">{{event.name}}</p></div>
            </div>
        </div>
    </div>
</div>