<!--Andrew Welton-->
<div class="row panel top-push">
    <p>View Competition Page</p>
    <p>{{competition.name}}</p>
    <p>{{competition.subject}}</p>
    <p>{{competition.description}}</p>
    <p>{{competition.location}}</p>
    <p>{{competition.public}}</p>
    <p>{{competition.state}}</p>
    <p>{{competition.streamUrl}}</p>

    <button class="btn btn-primary" ng-click="edit(competition.competitionId)">Edit This Competition</button>
</div>