/*
 * The app styles
 * Author: Jason McTaggart
 */
@import "../bower_components/bootstrap/less/bootstrap";
@import "variables";

@import "../src/Login/login";
@import "../src/Comp/StructView/compStruct";


.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


.main-view {
  position: absolute;
  top: 50px;
  bottom: 0;
  right: 0;
  left: 0;
  .top-push{
    margin-top:1em;
  }
}
.ng-enter,
.ng-leave
{
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
}

.ng-enter.ng-enter-active,
.ng-leave {
  opacity: 1;
  top: 0;
  height: 30px;
}

.ng-leave.ng-leave-active,
.ng-enter {
  opacity: 0;
  top: -50px;
  height: 0px;
}
body{
  background-image: url("../assets/images/bg.jpg");
  background-size:cover;
  background-attachment: fixed;
  background-position: center center;
}